@model Prep2Plate.Models.RecipeSearchResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl id="datalist" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
    </dl>
    <div><img src="@Url.Content(Model.ImageUrl)" />
    </div>  
    <p/><p/>
    <p><b> @Html.DisplayNameFor(model => model.Ingredients) </b></p>
    @{
        var items = Json.Decode(Model.Ingredients); 
    }
    <ul>
        @foreach (var item in items)
        {
            <li>@item.ToString()</li>
        }    
    </ul>
    <a href="@Model.RecipeSourceUrl"> </a>
    @*add an anchor item that says "Click here for Details" and on clicking that link should take the user to that website*@
</div>

<p>
    @Html.ActionLink("Back to List", "Index", new {id = -1})
</p>

@using (Html.BeginForm("SaveRecipe", "RecipesSearch"))
{
    <input type="submit" value="Save Recipe" />
}
