@model IEnumerable<Prep2Plate.Models.RecipeSearchResult>

@{
    ViewBag.Title = "Search Recipes";
}

<h2>Search Recipes</h2>
<!-- Add a Edit Box-->
<!-- Add a Search button-->
<!-- on click of the button | -->
@*<script>
    $(function(){
        $("#Search").click(function(){
            var link = $(this).attr("href");
            link.replace("-1", $('#searchString').val());
            var link = $(this).attr("href", link);
        });
    });​​​​
</script>*@


<input id="searchRecipe" type="text" name ="searchRecipe"size="100" placeholder="Search Recipe" /> 
<input id="Search" type="submit" value="Search" onclick="location.href = '@Url.Action("OnSearchRecipe", "RecipesSearch", new { searchString = "chicken"})'" />
@*<input type="submit" value="Search" onclick="location.href = '@Url.Action("OnSearchRecipe", "RecipesSearch")?id=' + $('#searchRecipe').val()" />*@



<table class="table">
    <tr>
        <th>Recipe Name
        </th>
        <th>Image</th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeName)
        </td>
        <td>
            <div>
                <a href="@Url.Action("Index", "Home", new { id=item.Id })" class="thumbnail">
                    <img src="@Url.Content(@item.ImageUrl)" />
                </a>
</div>  
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
